module.exports = {
    privToken: 'asdfasdfasdfasdf', // github api private token (str)
    testSource: 'https://github/cloneme', // code test source url (str)
    obfuscate: ['engine.js']// array of files to obfuscate with uglifyjs (arr)
    gitUserName: 'jabyrd3', // used for building repo urls, etc
    scripts: ['foo', 'bar'], // scripts to load for test, relative to index (arr)
    indexPath: 'index.html', // path to index file for parsing html (str)
    answerScript: 'challenge.js', // script to analyse for complexity
    username: 'Jordan Byrd', // name to inject into email (str)
    message: 'Jordan Byrd sent you a code test through winnow! Please visit {{testurl}} to proceed. Fork that repo, and when you\'re ready to submit your solution please submit a pull request. Thanks!' // message to send after repo has been created. The {{testurl}} mustache tag needs to be somwhere in this string or nothing will work. 
};